<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Rychotech</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">

<link rel="stylesheet" href="/assets/css/normalize.min.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
</head>
<div class="header-container">
    <header class="wrapper clearfix">
        <img class="profilePicture" src="/assets/profilePicture.jpg" alt="Profile Picture" style="width:100px;height:100px">
        <h1 class="title">Rychotech Studios</h1>
        <nav>
            <ul>
                <li><a href="/main">Home</a></li>
                <li><a href="/extra">Extra</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/guestbook">Guestbook</a></li>
            </ul>
        </nav>
    </header>
</div>
<body class="container">
<h1>
Rychotech Guestbook
<a id="gbWrite" href="/new-entry" class="btn btn-primary pull-right">
Please sign my guestbook!
</a>
</h1>
